html{
    font-size:13.33333vw ;
}
*,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body,html{
    margin: 0;
    padding: 0;
}

span{
    font-size: 16px;
}
/* 头部开始 */
.my-swipe img{
    width: 100%;
    height: 5.85rem;
}

.search img{
    width: 0.4rem;
    height: 0.4rem;
    z-index: 999;
    background-repeat: no-repeat;
    position: absolute;
    right: 0.55rem;
    top: 1.2rem;
}

.swiper-pagination{
    position: absolute;
    top: 2.86rem;
}

.area{
    background: #fff;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    z-index: 999;
    width: 6.3rem;
    height: 4rem;
    margin-top: -5.6rem;
    margin-left: 0.56rem;
    position: relative;
    top: 3.6rem;
    box-shadow: 3px 3px 25px rgba(255,255,255,.8);
    border: 1px solid rgba(0,0,0,.1);
}

.search-area{
    position: absolute;
    left: 10px;
    top:30px
}

.search-area-left{
    margin-left: 0.2rem;
}

.search-area-middle{
    position: absolute;
    top: 3px;
    left: 1.4rem;
}

.search-area-middle input{
    border: none;
    font-size: 15px;
    width: 130px;
}

input::-webkit-input-placeholder{
    color: rgb(217, 217, 217);
}

.search-area-right{
    position: absolute;
    top: -3px;
    right: -255px;
}

.time-area-day span{
    position: absolute;
    top: 1.37rem;
    right: 0.47rem;
    color: #adadad;
    font-size: 12px;

}

.time{
    width: 225px;
    height: 33px;
    position: absolute;
    left: 15px;
    top: 1.22rem;
}

.time-day span{
    color: #343434;
    position: absolute;
    font-size: 25px;
    left: 0;
}

.week-day span{
    color:  #ed7a7e;
    position: absolute;
    left: 1.3rem;
    top: 0.22rem;
    font-weight: bold;
    font-size: 0.26rem;
}

.toright img{
    transform: rotateY(180deg) rotate(-90deg);
    width: 30px;
    height: 15px;
    position: absolute;
    top: 0.25rem;
    left: 1.86rem;
}

.time-tomorrow span{
    color: #343434;
    position: absolute;
    font-size: 25px;
    position: absolute;
    left: 2.33rem;
}

.week-tomorrow span{
    color: #5b5b5b;
    position: absolute;
    top: 0.22rem;
    left: 3.64rem;
    font-weight: bold;
    font-size: 0.26rem;
}

.now-search button{
    width: 5.42rem;
    height: 0.7rem;
    background-color: #eb666b;
    position: absolute;
    left: 0.47rem;
    top: 2.13rem;
    border: none;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 0.06rem 0.15rem rgba(204,100,100,0.5);
}



.trust{
    width: 300px;
    height: 20px;
    position: absolute;
    top: 3.31rem;
    left: 25px;
}

.trust img{
    width: 14px;
}

.trust span{
    font-size: 10px;
    color: #7f7f7f;

}
.moneybag{
    position: absolute;
    top: 0px;
}

.music{
    position: absolute;
    top: 0px;
    left: 95px;
}

.protect{
    position: absolute;
    top: 0px;
    left: 185px;
}

.title span{
    font-size: 25px;
    color: rgb(66,73,86);
    font-weight: bold;
}

.introduec-img img{
    width: 105px;
    height: 25px;
    margin-left: -233px;
}

.introduce-text{
    color: #7f7f7f;
    font-size: 18px;
    font-weight: bolder;
    text-align: left;
}

.introduce-imgs img{
    margin-top: 30px;
    height: 240px;
    width: 335px;
}
.introduec-img{
    font-size: 0.35rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.16rem;
}


.introduce-imgs img{
    margin-top: 30px;
    height: 240px;
    width: 335px;
}
.pro-item{
    width: 100%;
    height: 4.05rem;
    position: relative;
}
.pro-item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.pro-item-name{
    width: 5.25rem;
    text-align: left;
    font-size: 0.3rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 0.49rem;
    bottom: 1.07rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.pro-item-core{
    width: 1.94rem;
    height: 0.27rem;
    position: absolute;
    left: 0.49rem;
    bottom: 0.75rem;
}
.pro-item-area{
    position: absolute;
    left: 0.49rem;
    bottom: 0.32rem;
}
.pro-item-area span{
    font-size: 0.19rem;
    color: #fff;
    font-weight: bold;
}
.pro-item-price{
    position: absolute;
    left: 4.43rem;
    bottom: 0.32rem;
}
.pro-item-price span{
    color: #fff;
    font-weight: bold;
}
.pro-rmb{
    font-size: 0.15rem;
    margin-right: 0.05rem;
}
.pro-button{
    width: 3.6rem;
    height: 0.62rem;
    background: #f4f4f4;
    margin: 0.49rem auto 0;
    border-radius: 5px;
}

.sleep{
    margin-top: 0.8rem;
}

.sleep-title{
    text-align: left;
}

.say{
    margin-top: 0.8rem;
}



.look-title{
    color: #2d3544;
    font-weight: 800;
}

.look{
    margin-top: 0.8rem;
    padding-bottom: 2rem;
}

.must-look{
    font-size: 25px;
}

.looklook{
    font-size: 25px;
    color: #eb666b;
    margin-left: -15px;
}

.look-text{
    color: #7f7f7f;
    font-size: 18px;
    font-weight: bolder;
    text-align: left;
    margin-left: 20px;
}

.swiper-text{
    width: 100%;
    color: #575d69;
    font-size: 0.32rem;
    font-weight: 900;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.swiper-text-area{
    color: #575d69;
    font-size: 13px;
    font-weight: 800;
    margin-top: 10px;
}

.cleanfloat::after{
    display: block;
    clear: both;
    content:"";
    visibility: hidden;
    height: 0;
}

.swiper-container1{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.swiper-slide{
    width: 3rem;
    float: left;
    margin-top: 25px;
}
/*清浮动*/

ul li{
    list-style:none;
    float:left;
    font-size:30px;
    margin:5px;
    color:#fddd99;
    cursor:pointer;
}/*五角星样式*/
.hs,.cs{color:#eda200;}/*五角星点击后样式*/

.cleanfloat li{
    margin: 0px;
    font-size: 22px;
}

.RMB{
    color: #f65e5a;
    font-size: 10px;
    font-weight: 900;
    margin-top: 10px;
    float: left;
}

.maths{
    color: #f65e5a;
    font-size: 16px;
    font-weight: 900;
    margin-top: 4px;
    margin-left: 15px;
    float: left;
}

.everynight{
    float: left;
    color: #666666;
    font-size: 13px;
    font-weight: 900;
    margin-left: 15px;
    margin-top: 6px;
}

.heart{
    position: absolute;
    top: -30px;
    right: 57px;
    width: 10px;
    height: 10px;
}
/* 头部结束 */
.swiper-container{
    box-shadow: 1px 1px 15px rgba(0,0,0,.2);
    height: 5rem;
}

.item{
    width: 100%;
    height: 4.68rem;
    margin: 0 auto;
    border-radius: 0.1rem;
}

.item img,.look img{
    border-radius: 0.1rem;
}

.item img{
    height: 3rem;
}

.info{
    width: 100%;
    height: 1.76rem;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
}

.stname{
    width: 220px;
    text-align: left;
    font-size: 0.32rem;
    color: #2d3544;
    opacity: 0.9;
    position: absolute;
    top: 0.18rem;
    left: 0.38rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.line{
    width: 100%;
    height: 0.02rem;
    background-color: #000;
    opacity: 0.03;
    position: absolute;
    top: 0.78rem;
}

.sdesc{
    width: 220px;
    position: absolute;
    top: 30px;
    left: 20px;
    color: #7f7f7f;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.sdesc span{
    font-size: 14px!important;
}

.sleep-item-tag{
    height: 0.38rem;
    width: 100%;
    margin-top: 1.4rem;
}
.sleep-tag{
    width: 1rem;
    height: 0.38rem;
    border-radius: 5px 0.5rem 0.5rem 5px;
    margin-right: 0.23rem;
    float: left;
    font-size: 0.05rem;
    color: #fff;
    background: #f9aa00;
}
.sleep-tag:nth-child(1){
    margin-left: 0.35rem;
    background: #f1505f;
}
.sleep-tag:nth-child(2){
    background: #f9aa00;
}

.say-item img{
    width: 6.4rem;
    height: 4.05rem;
    border-radius: 0.2rem;
}

.recommend-item-star {
    width: 3rem;
    height: 0.24rem;
}

.recommend-star {
    width: 0.24rem;
    height: 0.24rem;
    float: left;
}

.recommend-star img{
    width: 0.24rem;
    height: 0.24rem;
}

